<div class="container">
  <h1>Loan Details</h1>
 <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row">#</th>
        <td>Name</td>
        <td>Loan Number</td>
        <td>Principal</td>
        <td>Closing Date</td>
        <td>Interest Rate</td>
        <td>Term</td>
        <td>Loan Type</td>
      </tr>

      <tr>
        <th scope="row"></th>
        <td><%= @loan.borrower_name%></td>
        <td><%= @loan.loan_number%></td>
        <td><%= @loan.principal_loan_amount%></td>
        <td><%= @loan.closing_date%></td>
        <td><%= @loan.interest_rate%></td>
        <td><%= @loan.term%></td>
        <td><%= @loan.loan_type%></td>
      </tr>
   </tbody>
 </table>

 <table class="table table-bordered">
   <tbody>
     <tr>
       <th>Date</th>
       <th>Beginning Balance</th>
       <th>Principal Payment</th>
       <th>Total Payment</th>
       <th>End Balance</th>
     </tr>

    <% @schedule.each do |entry| %>
      <tr>
        <td><%= entry["next_payment_date"] %>
        <td><%= entry["balance"] %>
        <td><%= entry["principal_payment"] %>
        <td><%= entry["balance"] %>
        <td><%= entry["end_balance"] %>
     </tr>
    <% end %>
   </tbody>
 </table>
</div>

